:root{
    --Tam-fuente: 16px ;
    --fuente-principal: Google Sans;
    --color-fondo: #FFE8D3

;

html{
    font-size: var(--Tam-fuente)
};

* { box-sizing: border-box; margin: 0; }
ul { list-style: none; padding: 0; }



}
body {
    font-family: var(--fuente-principal);
    font-size: var(--Tam-fuente);
    background-color: var(--color-fondo);
}

#hero {
    background-image:linear-gradient( rgba(0, 0, 0, 0.363)), url(../imagenes/MonumentoMilanesa.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 70vh;
    height: 500px;
    position: relative;
}


#Centro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
    color: white;
    width: 80%;
    
}
h1 {
    font-size: 4rem;
}


section h2{
    
    text-align: center;
    padding: 1rem;
    border: 0.13rem solid;
    border-color: #411D06;
    color: #411D06 ;
    background-color: #FF9737;  
    ;
}

.titulo {
    font-size: 2rem;
}

#barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 26px;
}

nav {
    background: rgb(229, 101, 21);
    border-radius: 5rem;
    padding: 12px 24px;

}

nav ul {
    display: flex;
    gap: 2rem;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: white;
}




footer {
    font-size: 2rem;
    background-image:linear-gradient( rgba(0, 0, 0, 0.594)),url(../imagenes/nochemilanga.png);
    color: white;
    }

.contactoflex{
    text-align: center;
   

}

address{
    padding: 1.5rem;
    font-size: 1.2rem;

}

address a{
    text-decoration: none;
    color: rgb(0, 170, 255);
}

