:root{
    --Tam-fuente: 16px;
    --fuente-principal: "Google Sans";
    --color-fondo: #FFE8D3;
    --FontSH1: 4rem;
    --FontSH2: 2rem;
    --FontSH3: 1.3rem;
}

html{
    font-size: var(--Tam-fuente); 
}

* { 
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}

ul { 
    list-style: none;
    padding: 0;
   }


body {
    font-family: var(--fuente-principal);
    font-size: var(--Tam-fuente);
    line-height: 1.6; 
    background-color: var(--color-fondo);
}

/*
    Header
*/

#hero {
    background-image:linear-gradient( rgba(0, 0, 0, 0.363)), url(../imagenes/MonumentoMilanesa.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 70vh;
    height: 500px;
    position: relative;
}


#Centro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    width: 80%;
    
}
h1 {
    font-size: var(--FontSH1);
}

.encabezado{
    width: fit-content;
    margin: 1rem auto;
    padding: 0.85rem 2.5rem;
    background-color: #FF9737;
    border-radius: 20px;
    text-align: center;
    font-size: var(--FontSH2);
}

h3 {
    font-size: var(--FontSH3);
    color: #411D06;
}

.titulo {
    font-size: var(--FontSH2)
}

#barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 26px;
}

nav {
    background: rgb(229, 101, 21);
    border-radius: 5rem;
    padding: 12px 24px;
    position: fixed;
    z-index: 5;
    right: 1rem;
    top: 2rem;

}

nav ul {
    display: flex;
    gap: 2rem;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: white;
}
nav a:hover {
    color: var(--color-fondo);
    text-decoration: underline; 
}

/*

Footer

*/

footer {
    font-size: 2rem;
    background-image:linear-gradient( rgba(0, 0, 0, 0.594)),url(../imagenes/nochemilanga.png);
    color: white;
    }

.h3contacto{
    color: white;
    font-size: 2rem;
}

.contactoflex{
    text-align: center;
   

}

address{
    padding: 1.5rem;
    font-size: 1.2rem;

}

address a{
    text-decoration: none;
    color: rgb(0, 170, 255);
}

#articulosdiv{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    ;
}
figure img {
    width: 500px;
    ;
}

/*
    Lugares.HTML
*/

#layout {  
    
    display: grid;  
    grid-template-columns: 1fr 1fr  ;
    grid-template-rows: auto;
    min-height: 750px; /* largo */
    max-width: 1500px; /* angosto */
    padding: 20px;
    margin: 0rem auto;
    gap: 1rem;
}

#layout article {
  display: contents;
}

#layout img {
  grid-column: 1 / 2; /*grid-column: 1 → va en la primera columna*/
  grid-row: 2 / 3; /*grid-row: 2    → va en la segunda fila*/
  width: 100%;
  height: 100%;
  object-fit: cover; 
  text-align: center;
  border-radius: 20px;
  
}
#layout h2 {
    display: grid;
    place-items: center;
    background-color: #ffffff;
    border-radius: 20px;
    grid-column: 1 / 3;  /* desde/hasta */
    padding: 5px;
    text-align: center;
    font-size: 50px;
    color: orange;
}

.info {
    background-color: #ffffff;
    border-radius: 20px;
  grid-column: 2;/*grid-column: 2 → va en la segunda columna*/
  grid-row: 2;/*grid-row: 2    → va en la segunda fila*/

  padding: 30px;
  
  display: flex;
  flex-direction: column;
    justify-content: center;
}
